.styledButton {
    background-color: rgba(62, 14, 139, 0.70) !important;
    color: #fff !important;
}
.styledButton:hover {
    background-color: rgba(62, 14, 139, 0.30) !important;
    color: #000 !important;
}

.styledLink {
    color: rgba(62, 14, 139, 0.85) !important;
}
