<template>
    <form id='login-form' method="POST" action="/login">
        <input type="hidden" name="_token" :value="csrf">

        <div class="form-group row">
            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

            <div class="col-md-6">
                <input
                    v-model="email" id="email" type="email"
                    class="form-control" :class='[{"is-invalid": error.hasError("email")}]'
                    name="email" required autocomplete="email" autofocus>

                <span class="invalid-feedback" role="alert" v-text="error.get('email')"></span>
            </div>
        </div>

        <div class="form-group row">
            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

            <div class="col-md-6">
                <input
                    v-model="password" id="password" type="password" class="form-control"
                    :class='[{"is-invalid": error.hasError("password")}]'
                    name="password" required autocomplete="current-password">

                <span class="invalid-feedback" role="alert" v-text="error.get('password')"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 offset-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="remember" id="remember">

                    <label class="form-check-label" for="remember">
                        Remember Me
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row mb-0">
            <div class="col-md-8 offset-md-4">
                <button @click.prevent="onSubmit" type="submit" class="btn styledButton">
                    Login
                </button>

                <a class="btn btn-link styledLink" href="/password/reset">
                    Forgot Your Password?
                </a>

            </div>
        </div>
    </form>
</template>

<script>
    class Error {
        constructor() {
            this.message = '';
            this.errors = {};
        }

        storeError(data) {
            this.message = data.message;
            this.errors = data.errors;
        }

        get(field) {
            if (this.errors[field]) {
                return this.errors[field][0];
            }
        }

        hasError(field) {
            return !!this.errors[field];

        }
    }

    export default {
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                email: '',
                password: '',
                error: new Error()
            }
        },
        methods: {
            onSubmit() {
                axios.post('/login',{
                  _token: this.csrf,
                  email: this.email,
                  password: this.password
                })
                .then(response => {
                    window.parent.postMessage({
                      success : true,
                    }, process.env.MIX_CLIENT_URL);
                    window.location.href = '/home';
                })
                .catch(error => {
                    this.error.storeError(error.response.data);
                    window.parent.postMessage({
                      success : false,
                    }, process.env.MIX_CLIENT_URL);
                })
            }
        },
        mounted() {

        }
    }
</script>
