<template>
    <form method="POST" action="/register">
        <input type="hidden" name="_token" :value="csrf">

        <div class="form-group row">
            <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>

            <div class="col-md-6">
                <input
                    v-model="name" id="name" type="text"
                    class="form-control" :class='[{"is-invalid": error.hasError("name")}]'
                    name="name" required autocomplete="name" autofocus>

                <span class="invalid-feedback" role="alert" v-text="error.get('name')"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="name" class="col-md-4 col-form-label text-md-right">Surname</label>

            <div class="col-md-6">
                <input
                    v-model="surname" id="surname" type="text"
                    class="form-control" :class='[{"is-invalid": error.hasError("surname")}]'
                    name="surname" required autocomplete="surname" autofocus>

                <span class="invalid-feedback" role="alert" v-text="error.get('surname')"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

            <div class="col-md-6">
                <input
                    v-model="email" id="email" type="email"
                    class="form-control" :class='[{"is-invalid": error.hasError("email")}]'
                    name="email" required autocomplete="email">

                <span class="invalid-feedback" role="alert" v-text="error.get('email')" />
            </div>
        </div>

        <div class="form-group row">
            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

            <div class="col-md-6">
                <input
                    v-model="password" id="password" type="password"
                    class="form-control" :class='[{"is-invalid": error.hasError("password")}]'
                    name="password" required autocomplete="new-password">

                <span class="invalid-feedback" role="alert" v-text="error.get('password')" />
            </div>
        </div>

        <div class="form-group row">
            <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>

            <div class="col-md-6">
                <input
                    v-model="password_confirmation" id="password-confirm" type="password"
                    class="form-control"
                    name="password_confirmation" required autocomplete="new-password">
            </div>
        </div>

        <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4">
                <button @click.prevent="onSubmit" type="submit" class="btn styledButton">
                    Register
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    class Error {
        constructor() {
            this.message = '';
            this.errors = {};
        }

        storeError(data) {
            this.message = data.message;
            this.errors = data.errors;
        }

        get(field) {
            if (this.errors[field]) {
                return this.errors[field][0];
            }
        }

        hasError(field) {
            return !!this.errors[field];

        }
    }

    export default {
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                name: '',
                surname: '',
                email: '',
                password: '',
                password_confirmation: '',
                error: new Error()
            }
        },
        methods: {
            onSubmit() {
                axios.post('/register',{
                    _token: this.csrf,
                    name: this.name,
                    surname: this.surname,
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.password_confirmation
                })
                    .then(response => {
                        window.parent.postMessage({
                            success : true,
                        }, process.env.MIX_CLIENT_URL);
                        window.location.href = '/home';
                    })
                    .catch(error => {
                        this.error.storeError(error.response.data);
                        window.parent.postMessage({
                            success : false,
                        }, process.env.MIX_CLIENT_URL);
                    })
            }
        },
        mounted() {

        }
    }
</script>
